<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Peregrine falcon</string>
		<key>image</key>
		<string>Peregrine falcon</string>
		<key>canFly</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Golden eagle</string>
		<key>image</key>
		<string>Golden eagle</string>
		<key>canFly</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Grey-headed albatross</string>
		<key>image</key>
		<string>Grey-headed albatross</string>
		<key>canFly</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Eider</string>
		<key>image</key>
		<string>Eider</string>
		<key>canFly</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Rock Pigeon</string>
		<key>image</key>
		<string>Rock Pigeon</string>
		<key>canFly</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Indian Cormorant</string>
		<key>image</key>
		<string>Indian Cormorant</string>
		<key>canFly</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Sand Lark</string>
		<key>image</key>
		<string>Sand Lark</string>
		<key>canFly</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Brown rock chat</string>
		<key>image</key>
		<string>Brown rock chat</string>
		<key>canFly</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Shikra</string>
		<key>image</key>
		<string>Shikra</string>
		<key>canFly</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Streak-throated Woodpecker</string>
		<key>image</key>
		<string>Streak-throated Woodpecker</string>
		<key>canFly</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Indian Roller</string>
		<key>image</key>
		<string>Indian Roller</string>
		<key>canFly</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Ostrich</string>
		<key>image</key>
		<string>Ostrich</string>
		<key>canFly</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Campbell teal</string>
		<key>image</key>
		<string>Campbell teal</string>
		<key>canFly</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Flightless cormorant</string>
		<key>image</key>
		<string>Flightless cormorant</string>
		<key>canFly</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Penguins</string>
		<key>image</key>
		<string>Penguins</string>
		<key>canFly</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Weka</string>
		<key>image</key>
		<string>Weka</string>
		<key>canFly</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Great auk</string>
		<key>image</key>
		<string>Great auk</string>
		<key>canFly</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Dodo</string>
		<key>image</key>
		<string>Dodo</string>
		<key>canFly</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Steamer duck</string>
		<key>image</key>
		<string>Steamer duck</string>
		<key>canFly</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Kakapo</string>
		<key>image</key>
		<string>Kakapo</string>
		<key>canFly</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Snipe-rail</string>
		<key>image</key>
		<string>Snipe-rail</string>
		<key>canFly</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Hummingbird</string>
		<key>image</key>
		<string>Hummingbird</string>
		<key>canFly</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Owl</string>
		<key>image</key>
		<string>Owl</string>
		<key>canFly</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Crane</string>
		<key>image</key>
		<string>Crane</string>
		<key>canFly</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Finch</string>
		<key>image</key>
		<string>Finch</string>
		<key>canFly</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Sparrow</string>
		<key>image</key>
		<string>Sparrow</string>
		<key>canFly</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Kingfisher</string>
		<key>image</key>
		<string>Kingfisher</string>
		<key>canFly</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Albatross</string>
		<key>image</key>
		<string>Albatross</string>
		<key>canFly</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Crow</string>
		<key>image</key>
		<string>Crow</string>
		<key>canFly</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Tufted duck</string>
		<key>image</key>
		<string>Tufted duck</string>
		<key>canFly</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Indian roller</string>
		<key>image</key>
		<string>Indian roller</string>
		<key>canFly</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Peocock</string>
		<key>image</key>
		<string>Peocock</string>
		<key>canFly</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Pigeon</string>
		<key>image</key>
		<string>Pigeon</string>
		<key>canFly</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Black Kite</string>
		<key>image</key>
		<string>Black Kite</string>
		<key>canFly</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Emu</string>
		<key>image</key>
		<string>Emu</string>
		<key>canFly</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Crow</string>
		<key>image</key>
		<string>Crow</string>
		<key>canFly</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Crow</string>
		<key>image</key>
		<string>Crow</string>
		<key>canFly</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Crow</string>
		<key>image</key>
		<string>Crow</string>
		<key>canFly</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Crow</string>
		<key>image</key>
		<string>Crow</string>
		<key>canFly</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Crow</string>
		<key>image</key>
		<string>Crow</string>
		<key>canFly</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Crow</string>
		<key>image</key>
		<string>Crow</string>
		<key>canFly</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Crow</string>
		<key>image</key>
		<string>Crow</string>
		<key>canFly</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Crow</string>
		<key>image</key>
		<string>Crow</string>
		<key>canFly</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Crow</string>
		<key>image</key>
		<string>Crow</string>
		<key>canFly</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Crow</string>
		<key>image</key>
		<string>Crow</string>
		<key>canFly</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Crow</string>
		<key>image</key>
		<string>Crow</string>
		<key>canFly</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Crow</string>
		<key>image</key>
		<string>Crow</string>
		<key>canFly</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Crow</string>
		<key>image</key>
		<string>Crow</string>
		<key>canFly</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Crow</string>
		<key>image</key>
		<string>Crow</string>
		<key>canFly</key>
		<true/>
	</dict>
</array>
</plist>
